@charset "utf-8";
/* CSS Document */

a {
   font-family: century Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
   font-size: 12pt;
   color: #FFFFFF;
   text-align: center;
   margin: 0 1cm;
   }